<% if user_signed_in? and current_user.tem_facebook? %>
    <script>
        $(document).ready(function() {
            $("#botaoConvidarAmigos").click(function(event){
                event.preventDefault();
                if (FB){
                    FB.ui({ method: 'apprequests', message: 'Vamos ler a Bíblia juntos na BíbliaSocial!'});
                }else{
                    window.alert("Não foi possível estabelecer uma conexão com http://facebook.com");
                }
            });
        });
    </script>
    <div class="widigetSidebar">
      <h3>Convite  <span class="info">Convide seus amigos do Facebook</span></h3>
      <span class="textoDiscreto"><%= link_to("Clique aqui para convidar seus amigos do Facebook." , "#", :id => "botaoConvidarAmigos")%></span>
    </div>
<% end %>