<div class="widigetSidebar">
  <h3>Seguindo <%= link_to "+", seguindo_user_path(@user), :title=>"Ver lista completa", :class => "tooltip mais" if @seguindo.any? %> <span class="info">Pessoas que eu estou seguindo</span></h3>
  <% if @seguindo.any?  %>
      <ul class="listaInline">
        <% @seguindo.each do |user| %>
            <li><%= link_to (image_tag user.foto.url(:small)), user_path(user), {:class => "tooltip", :title=>user.nome} %></li>
        <% end %>
      </ul>
  <% else %>
      <span class="textoDiscreto">Ainda não estou seguindo ninguém.</span>
  <% end %>
</div>