<div class="widigetSidebar">
  <h3>Seguidores <%= link_to "+", seguidores_user_path(@user), :title=>"Ver lista completa", :class => "tooltip mais" if @seguidores.any? %> <span class="info">Pessoas que me seguem</span></h3>
  <% if @seguidores.any?  %>
      <ul class="listaInline listaFotosUsers">
        <% @seguidores.each do |user| %>
            <li><%= link_to (image_tag user.foto.url(:small)), user_path(user), {:class => "tooltip", :title=>user.nome} %></li>
        <% end %>
      </ul>
  <% else %>
      <span class="textoDiscreto">Nenhum seguidor ainda. Seja o primeiro!</span>
  <% end %>
</div>