<%= content_for :menu_selecionado, 'biblia' %>

<div id="content" class="index">
    <h2>Últimas Publicações</h2>
    <%= render 'ultimas_publicacoes' %>
</div>
<div id="sidebar">
  <%= render :partial => "partials/sidebar", :locals => {:widgets => ['indice_biblia', 'top_users', 'top_versiculos', 'top_publicacoes']}%>
</div>
