<div class="atividadeInfo linkInfo">
    <div class="atividadeTitulo">
       <%= link_to item.titulo, item.url, {:class => "reticencias", :title => item.titulo} %>
    </div>
    <div class="atividadeUrl">
        <%= link_to item.url, item.url, {:class => "reticencias", :title => item.url} %>
    </div>
</div>