* { margin: 0; padding: 0 }
body { background: #8ec1da; font-family: Arial, Tahoma, Calibri, Verdana, Geneva, sans-serif; font-size: 16px }
a, .link { color: #337fe5; text-decoration: none }
a:hover { text-decoration: underline }
img { border: none }
input { vertical-align: middle }
p, h1, h2, h3, h4, h5, ul { margin: 20px 0 }

/* -----------------------------
   --- IDS
   -----------------------------*/
#top { background: #111; line-height: 40px }
    #top h1 { font-size: 26px; margin: 0 20px }
    #top a { color: #fff }
    #top a:hover { text-decoration: none }
    
#search { float: right }
    #search input { background: url('images/background_search.png'); border: 0 solid transparent; margin-top: -5px }
    #search input[type=text] { outline: 0; width: 184px; height: 19px; padding: 4px 8px; color: #a9a9a9 }
        #search input[type=text].hover { background-position: 0 -27px }
        #search input[type=text].focus { background-position: 0 -54px; color: #000 }
    #search input[type=submit] { background-position: -170px 0; width: 30px; height: 27px; cursor: pointer; margin-left: -30px }
        #search input[type=submit].hover { background-position: -170px -27px }
        #search input[type=submit].focus { background-position: -170px -54px }

#window { background: #fff url('images/background_window.png') top right repeat-y; margin: 25px 0; min-height: 800px }
#content { float: left; width: 560px; padding: 0 20px }
    #content h2, #sidebar h3 { border-bottom: 1px solid #999; padding-bottom: 5px }
#sidebar { position: relative; float: right; width: 360px; padding: 20px }
    #sidebar h3 { margin-top: 43px }
    #sidebar h3.special { margin-top: 7px }

#sidebar_window, #sidebar_window2 { border: 1px solid #c4d4dc; border-width: 0; background: #fff; position: absolute; left: 2px; top: 0; overflow: hidden; width: 0 }
    #sidebar_window .title, #sidebar_window2 .title { background: #f4f4f4; line-height: 30px; text-align: right; padding: 0 10px; white-space: nowrap }
    #sidebar_window .title span, #sidebar_window2 .title span { cursor: pointer }
    #sidebar_window .title .text, #sidebar_window2 .title .text { float: left }
    
#sidebar_window2 { border-width: 1px 1px 1px 0; position: relative; float: left; left: -18px; width: 380px; _left: 0; _margin-left: -9px; _width: 378px; overflow: hidden }

#facebook, #facebook2 { margin: 10px }
#buttons { padding: 0 14px; margin: 14px 0 0 }

#livros ul { float: left; list-style: none; width: 140px; margin-top: 0 }
#livros ul li { line-height: 24px }
#versiculos { margin: -10px 0 }
#breadcrumb { font-size: 13px }
#capitulos a, #capitulos span, #versiculos a, #versiculos span { display: inline-block; text-align: right; width: 32px; line-height: 24px }

#loading { display: none; position: fixed; text-align: center; top: 0; width: 100%; z-index: 100 }
#loading .text { background: #ffc; border: 1px solid #000; border-width: 0 1px 1px 1px; display: inline-block; font-weight: bold; line-height: 30px; padding: 0 75px }

/* -----------------------------
   --- CLASSES
   -----------------------------*/
.ui-menu-item { font-size: 13px }
.wrapper { width: 1000px; margin: 0 auto }
.clear { height: 100% }
.clear:after { clear: both; content: ""; display: block }
.previous_and_next { font-weight: bold; text-align: center }
.c { text-align: center }
.highlight { font-weight: bold }

.pagination { margin: 10px }
.pagination a, .pagination span { margin: 5px }

.index .odd { background:none }
.index .versiculo { padding: 20px 0;}
.versiculo { margin: 0; padding: 10px 0px 10px 5px; cursor: pointer }
.versiculo a, .versiculo .link { margin-right: 5px }
.versiculo:hover { background-color: #D9EBF4 }
.versiculo a.numero { color: #000; display: inline-block; font-weight: bold; width: 20px; text-align: right; margin-right: 5px }
.versiculo a.referencia { float: right; clear: both }
.odd { background: #f0f0e1 }
.endereco { color: #337fe5; float: right; margin: 3px 10px }
.comment_count { background: url('images/background_comments_count.png') no-repeat; background-size: 13px auto; background-position: left center; color: #337fe5; display: inline-block; float: right; height: 13px; width:17px; padding-left: 12px; font-size: 11px; text-align: center; line-height: 10px; margin: 5px 0 0 0 }
.titulo { cursor: pointer }
.titulo .comment_count { margin-top: 12px; font-weight: normal }

/* -----------------------------
   --- CSS3
   -----------------------------*/
#window { -webkit-border-radius: 10px }