<%= title "BíbliaSocial.com" %>

<div id="content" class="index">
    <%= render :partial => "partials/atividade/new", :locals=> {:agrupador_item => @user, :comment => @comment} %>
    <%= render :partial => 'partials/atividades', :locals => {:url => "mural", :agrupador_itens => false, :itens => @itens, :mostrar_versiculo => true}%>
</div>