<span class="bordaSeta"></span>
<%= render :partial => "partials/atividade/new", :locals=> {:agrupador_item => @versiculo, :comment => @comment} %>
<%= render :partial => 'partials/atividades', :locals => {:url => lista_versiculo_atividades_path(@versiculo), :agrupador_itens => @versiculo, :itens => @itens, :mostrar_versiculo => false}%>
