<% if item.comment != nil %>
	<p>
		<%= simple_format item.comment.texto_html.html_safe %>
	</p>
<% end %>
<div class="atividadeInfo referenciaInfo">
	<%= link_to item.pretty_ref, item.versiculo.url, {:class => "atividadeTitulo"} %>
	<p class="atividadeDescricao referenciaDescricao">
		<%= item.versiculo_citado.texto %>
	</p>
</div>