<p>Olá <%= @resource.nome %>!</p>

<p>Você solicitou instruções para mudar a senha. Para que você possa acessar sua conta da BíbliaSoial basta clicar no link abaixo e criar uma nova senha.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não solicitou estas instruções, por favor ignore este email.</p>
<p>Sua senha permanece a mesma até que você entre no link acima e crie uma nova.</p>
